/**
 * projekt: Mobile first
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'rig-shaded-medium-face', sans-serif; font-weight: 500; font-style: normal; */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'franklin-gothic-urw', sans-serif; font-weight: 300; font-style: normal; */

/* Variabler*/
:root {
  /* farver */
  --white: #fcfcfc;
  --offwhite: #f8f4f1;
  --beige: #ece2d7;
  --green: #7c8f67;
  --black: #1d0b09;

  /* fonte */
  --overskrift: 'rig-shaded-medium-face', sans-serif; /* overskrifter */
  --brødtekst: 'franklin-gothic-urw', sans-serif; /* brødtekst */

  /* whitespace */
  --whitespace: .5rem;

  /* teksturer ("fliselagte baggrunde") */
  --baggrund: url('../images/baggrund.png');
  --behandlinger: url('../images/behandlinger.png');
  --academy: url('../images/academy.png');
  --omos: url('../images/omos.png');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
  margin: auto;
}

/*baggrund */
body {
  background-image: var(--baggrund);
  background-size:100% auto;
  background-color: var(--white);
  font-family: var(--font);
}

/* Typography */
h1, h2, h3 {
  font-family: var(--overskrift);
  color: var(--black);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}
h4 {
  font-family: var(--overskrift);
  font-size: 90%;
  color: var(--black);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}
p {
  font-family: var(--brødtekst);
  color: var(--black);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

/* Billeder */
img {
  width: 100%;
}

/* FORSIDE - header */
header {
  position: relative;
  width: 100%;
  max-width: 400px; /* MOBIL */
  background: var(--offwhite);
  padding-bottom: 5%;
}
header img {
  margin-bottom: 5%;
}
header .btn {
  position: absolute;
  top: 40%; /* MOBIL */
  left: 50%; /* MOBIL */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--green);
  color: var(--white);
  font-family: var(--overskrift);
  font-size: 18px; /* MOBIL */
  padding: 12px 35px;
  padding-top: 16px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  text-align: center;
}
header h2 {
  position: absolute;
  top: 20%; /* MOBIL */
  text-align: center;
  font-family: var(--brødtekst);
  color: var(--black);
}

/* FORSIDE - kategorier */
#kategorier {
  padding-top: 25px;
  /*display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; */
}

/* NY Boks med tekst ovenpå billede */
div.boks {
  width: 90%;
  height: 90%;
  background: rgba(234, 230, 227, 0.65); /* offwhite baggrund med 65% opacity */
  padding: 50px;
  margin: 20px;
}
div.behandlinger {
  background-image: var(--behandlinger);
  background-size:100% auto;
  height: 300px;
  padding-top: 0.5%;
  margin-top: 25px;
}
div.academy {
  background-image: var(--academy);
  background-size:100% auto;
  height: 300px;
  padding-top: 0.5%;
  margin-top: 25px;
}
div.omos {
  background-image: var(--omos);
  background-size:100% auto;
  height: 300px;
  padding-top: 0.5%;
  margin-top: 25px;
}

/* GAMLE Boks med tekst ovenpå billede */
/*#kategorier img {
  padding-top: 25px;
}*/
 /*div.boks1 {
  width: 90%;
  height: 300px;
  background: rgba(234, 230, 227, 0.6); /* offwhite baggrund med 60% opacity */
  /* padding: 50px;
  margin: 20px;
  position: absolute;
  top: 91%; /* MOBIL */
/* }
div.boks2 {
  width: 90%;
  height: 300px;
  background: rgba(234, 230, 227, 0.6); /* offwhite baggrund med 60% opacity */
/*  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 136.5%; /* MOBIL */
/*}
div.boks3 {
  width: 90%;
  height: 300px;
  background: rgba(234, 230, 227, 0.6); /* offwhite baggrund med 60% opacity */
/*  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 182%; /* MOBIL */
/*}*/

/* Solid divider: https://www.w3schools.com/howto/howto_css_dividers.asp */
hr.solid {
  border-top: 2px solid var(--black);
}

/* SHOP */
.shop img {
  padding-top: 25px;
}
/* shop tekst*/
.shop h4 {
  position: absolute;
  top: 231%; /* MOBIL */
  left: 37%; /* MOBIL */
}
.shop p {
  position: absolute;
  top: 235%; /* MOBIL */
}
/*shop knap*/
.btn2 {
  position: absolute;
  top: 248%; /* MOBIL */
  left: 50%; /* MOBIL */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--green);
  color: var(--white);
  font-family: var(--overskrift);
  font-size: 18px; /* MOBIL */
  padding: 12px 52px;
  padding-top: 16px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
  text-align: center;
}

/* INSPIRATION */
/* inspiration tekst */
.inspiration h2 {
  text-align: center;
  margin-top: 25px;
}
.inspiration a {
  text-align: center;
  text-decoration: none;
  font-family: var(--brødtekst);
  color: var(--black);
  margin-top: var(--whitespace);
  margin-bottom: 25px;
  font-size: 20px;
}
.inspiration a:hover, a:active {
  color: var(--green);
}
/* inspiration galleri */
.inspirationgalleri {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.inspirationgalleri img{
  width: 45%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Typography */
  h1 {
    font-size: 1.4em;
    text-align: center;
    max-width: 15ch;
  }
  p {
    font-size: 1.4em;
    text-align: center;
  }

  /* FORSIDE - header */
  header {
    max-width: 600px;
  }
  header .btn {
    top: 40%;
    left: 50%;
    font-size: 18px;
  }
  header h2 {
    top: 20%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Typography */
  h1 {
    font-size: 2em;
    text-align: center;
    max-width: 15ch;
  }
  p {
    font-size: 1.4em;
    text-align: center;
  }
  /* FORSIDE - header */
  header {
    max-width: 767px;
  }
  header .btn {
    font-size: 25px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
