/**
 * projekt: Mobile first
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'rig-shaded-medium-face', sans-serif; font-weight: 500; font-style: normal; */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'franklin-gothic-urw', sans-serif; font-weight: 300; font-style: normal; */

/* Variabler*/
:root {
  /* farver */
  --white: #fcfcfc;
  --offwhite: #f8f4f1;
  --beige: #ece2d7;
  --green: #7c8f67;
  --black: #1d0b09;

  /* fonte */
  --overskrift: 'rig-shaded-medium-face', sans-serif; /* overskrifter */
  --brødtekst: 'franklin-gothic-urw', sans-serif; /* brødtekst */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
